body {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
}

#content {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

nav {
    background-color: crimson;
    height: 50px;
}

.projects-container {
    background-color: slategray;
    height: 50px;
}